@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+HR+Lijeva+Guides&family=Quicksand:wght@300..700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Mono:wght@100..900&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+HR+Lijeva+Guides&family=Quicksand:wght@300..700&family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

.noto-sans-mono {
  font-family: "Noto Sans Mono", serif;
  font-size: 48px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.yellowtail-regular {
  font-family: "Yellowtail", serif;
  font-weight: 400;
  font-style: normal;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #4272a5;
}

#second-div a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

#second-div a:hover {
  color: #FF6C36;
  /* margin: 0 10px;/  */
  text-decoration: underline;
}


#logo {
  color: white;
  font-size: 2.5rem;
}


#contact {
  background-color: #FF0072;
  background-image: url(../stock/coverphoto.png);
  /* background-repeat: no-repeat; */
  justify-content: center;
  align-items: center;
  height: 35vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#contact p {
  font-size: 20px;
}

.phone{
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.instagram{
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.whatsapp{
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}



