@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+HR+Lijeva+Guides&family=Quicksand:wght@300..700&family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: brown;
}


.yellowtail-regular {
  font-family: "Yellowtail", serif;
  font-weight: 400;
  font-style: normal;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #4272a5;
}

#second-div a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

#second-div a:hover {
  color: #FF6C36;
  /* margin: 0 10px;/  */
  text-decoration: underline;
}


#logo {
  color: white;
  font-size: 2.5rem;
}