@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+HR+Lijeva+Guides&family=Quicksand:wght@300..700&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  /* width: 100vw; */
}

.yellowtail-regular {
  font-family: "Yellowtail", serif;
  font-weight: 400;
  font-style: normal;
  
}

nav{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    background-color: #4272a5;
}
#second-div a{
    color: white; 
    margin: 0 10px; 
    text-decoration: none;
}
#logo{
    color: white; 
    font-size: 2.5rem;
}


#nav-btn {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #FF0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #FF0072;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  #nav-btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -1;
  }
  
  #nav-btn:hover, button:focus {
    color: white;
  }
  
  #nav-btn:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  #nav-btn:active {
    transform: scale(0.9);
  }

#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

#gallery {
    column-count: 2;  /* Create 2 columns */
    column-gap: 10px; /* Gap between columns */
    padding:5px 10px;
    /* background-color: #293037; */
}

#gallery div {
    break-inside: avoid; /* Prevent items from breaking across columns */
    margin-bottom: 10px; /* Space between items */
    display: inline-block; /* Required for proper flow */
    width: 100%; /* Ensure each div takes full column width */
    height: auto; /* Let height be determined by content */
   
}

#gallery :first-child {
    width: 100%;
    border-radius: 5px;
}

